@charset "UTF-8";

body{
    background-color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(0, 199, 199);
    background-color:cornflowerblue;
}
h2 {
    color: cadetblue;
}
p {
    text-align: justify;
}